#tree-container {
    border: solid 1px gray;
}

#info {
    border: solid 1px gray;
    min-height: 300px;
}


/**
===============RENAME=================
*/

.mt-rename {
    display: inline;
    line-height: 14px;
    cursor: default;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 11px;
    padding: 1px 0;
    border: solid 1px black;
}