.warning {
    background-color: #ad4b3a;
    color: #e0e93f;
    margin: 20px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 2em;
}

#tree-container {
    height: 300px;
    margin: 0 20px;
    position: relative;
    border: solid 1px #c7c7c7;
}

.mt-wrapper {
    font-family: verdana;
    font-size: 11px;
}

.mt-name {
    margin-left: 0;
    padding-left: 4px;
}

.tag-close {}

.attr-value {
    color: #e9441b;
}

.value {
    color: #000;
}

.mt-wrapper span.tag {
    cursor: pointer;
}

.mt-wrapper .mt-gadjet {
    cursor: default;
}

.mt-empty-icon {
    padding-right: 0;
}

.mt-hover-gadjet .mt-name,
.mt-hover-name .mt-name,
.mt-hover-icon .mt-name {
    color: blue;
}


/**
===============RENAME=================
*/

.mt-rename {
    display: inline;
    line-height: 14px;
    cursor: default;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 11px;
    padding: 1px 0;
    border: solid 1px black;
}