
/**
================FOREST=================
*/

.mt-open-icon {
    background-image: url('images/openicon.gif')
}

.mt-close-icon {
    background-image: url('images/closeicon.gif')
}

.mt-middle-icon {
    background-image: url('images/middleicon.gif');
}

.mt-loader-open-icon,
.mt-loader-close-icon {
    background-image: url('images/mootree_loader.gif');
}

.mt-book-icon {
    background-image: url('images/book_icon.gif');
}

.mt-bin-open-icon {
    background-image: url('images/bin_open_icon.gif');
}

.mt-bin-close-icon {
    background-image: url('images/bin_close_icon.gif');
}

.mt-bin-middle-icon {
    background-image: url('images/bin_middle_icon.gif');
}

/**
================CHECKBOX=================
*/

.mt-node-checked-selected {
    background: url('images/checked_selected.gif') center 2px no-repeat;
}

.mt-node-unchecked-selected {
    background: url('images/unchecked_selected.gif') center 2px no-repeat;
}
