@charset "UTF-8";

/**
===============GLOBAL=================
*/

.test {
    outline: red;
}

.mt-wrapper {
    position: relative;
    margin: 0;
    padding: 1em;
    overflow: auto;
    font-size: 1.7rem;
    white-space: nowrap;
    cursor: default;
    &:focus {
        outline: 0;
    }
    span {
        display: inline-block;
        cursor: inherit;
        vertical-align: top;
    }
    label {
        display: inline-block;
        font-size: inherit;
        color: currentColor;
        padding-right: .5em;
    }
}

.mt-children {
    display: none;
    margin-left: 1.5em;
}

.mt-node-wrapper {
    margin-bottom: .2em;
    background-color: rgb(245, 245, 245);
}

.mt-node {}

.mt-node-last {}

.mt-name a {
    color: red;
}

.mt-name a:hover {
    color: blue;
}


/**
================GADJETS=================
*/

.mt-gadjet {
    display: inline-block;
    width: 1.5em;
    cursor: default;
    z-index: 1;
}

.mt-gadjet-none {
    background: none;
}

.mt-gadjet-minus {
    @extend .branch-close;
}

.mt-gadjet-plus {
    @extend .branch-open;
}

.mt-gadjet-middle {
    outline: purple;
}

.mt-gadjet-hover {
    .mt-gadjet-minus {
        background-position: -54px 50%;
    }
    .mt-gadjet-plus {
        background-position: -72px 50%;
    }
    .mt-gadjet-middle {
        background-position: -90px 50%;
    }
}


/*
.mt-gadjet-hover{
    background-image:url('images/gadjets-hover.gif');
}
*/


/**
================ICONS=================
*/

.mt-icon {
    padding-right: 18px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    cursor: inherit;
}


/* careful! screwed up icon rules can bonk other rules down the cascade */

@import 'svg-icons';

/* or */


/* @import 'gif-icons'; */


/**
================SELECTION=================
*/

.mt-node-wrapper {
    &.mt-node-selected {
        outline: 3px dashed rgba(255, 0, 0, .5);
        outline-offset: .05em;
        label {
            font-style: italic;
        }
        label:hover {
            color: rgba(255, 0, 0, .7);
        }
    }
    .mt-highlighter {
        height: 18px;
        overflow: hidden;
        width: 100%;
        background: #b64553;
        position: absolute;
    }
}


/**
================CHECKBOX=================
*/

.mt-checkbox {
    display: inline-block;
    width: 1.5em;
    margin-right: .5em;
}

.mt-node-checked,
.mt-node-checked .mt-checkbox {
    @extend .check-box-checked;
}

.mt-node-unchecked,
.mt-node-unchecked .mt-checkbox {
    @extend .check-box-unchecked;
}

.mt-node-partially,
.mt-node-partially .mt-checkbox {
    @extend .check-box-indeterminate;
}


/**
===============RENAME=================
*/

.mt-rename {
    display: inline;
    cursor: default;
    overflow: hidden;
    font-family: sans-serif;
    padding: 1px 0;
    border: solid 1px black;
}


/**
===============D'n'D=================
*/

.mt-pointer {
    height: 1px;
    overflow: hidden;
    position: absolute;
    background-image: url('../images/1.gif');
    background-repeat: repeat-x;
    background-color: #292fef;
}

.mt-ghost {
    background-color: #fff;
    border: solid 2px #e8e8f7;
    padding: .1em .3em;
    position: absolute;
    .mt-node-wrapper {
        background: none;
    }
    span.mt-text {
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

.mt-ghost-icon {
    padding-left: 16px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: url('../images/dropzone.gif');
    margin-right: .5em;
}

.mt-ghost-after {
    background-position: -64px 2px;
}

.mt-ghost-before {
    background-position: -48px 2px;
}

.mt-ghost-between {
    background-position: -16px 2px;
}

.mt-ghost-inside {
    background-position: -0px 2px;
}

.mt-ghost-notAllowed {
    background-position: -32px 2px;
}

.mt-drag-current {
    background-color: #cfcfd8;
}

.mt-replace {
    background-color: #99c8fb;
}


/* Bootstrap Flavoured Overrides */

.BSF,
[data-flavour="BS"] {
    .mt-node {
        label.mt-name {
            line-height: 1.5em;
            font-weight: normal;
            font-size: 1.8rem;
            margin-bottom: 0;
        }
    }
    .mt-gadjet,
    .mt-checkbox {
        width: 1.5em;
    }
    .mt-gadjet {
        font-size: 1.8rem;
    }
}


/* Horizontal Collapse */

.mt-wrapper.collapse {
    display: block; // avoid BS contention
    .mt-node span.mt-node-nochecked,
    .mt-node span.mt-gadjet-none {
        display: none;
        +label {
            padding-left: .5em;
        }
    }
}