/**
===============GLOBAL=================
*/
.test {
  outline: red;
}

.mt-wrapper {
  position: relative;
  margin: 0;
  padding: 1em;
  overflow: auto;
  font-size: 1.7rem;
  white-space: nowrap;
  cursor: default;
}

.mt-wrapper:focus {
  outline: 0;
}

.mt-wrapper span {
  display: inline-block;
  cursor: inherit;
  vertical-align: top;
}

.mt-wrapper label {
  display: inline-block;
  font-size: inherit;
  color: currentColor;
  padding-right: .5em;
}

.mt-children {
  display: none;
  margin-left: 1.5em;
}

.mt-node-wrapper {
  margin-bottom: .2em;
  background-color: whitesmoke;
}

.mt-name a {
  color: red;
}

.mt-name a:hover {
  color: blue;
}

/**
================GADJETS=================
*/
.mt-gadjet {
  display: inline-block;
  width: 1.5em;
  cursor: default;
  z-index: 1;
}

.mt-gadjet-none {
  background: none;
}

.mt-gadjet-middle {
  outline: purple;
}

.mt-gadjet-hover .mt-gadjet-minus {
  background-position: -54px 50%;
}

.mt-gadjet-hover .mt-gadjet-plus {
  background-position: -72px 50%;
}

.mt-gadjet-hover .mt-gadjet-middle {
  background-position: -90px 50%;
}

/*
.mt-gadjet-hover{
    background-image:url('images/gadjets-hover.gif');
}
*/
/**
================ICONS=================
*/
.mt-icon {
  padding-right: 18px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  cursor: inherit;
}

/* careful! screwed up icon rules can bonk other rules down the cascade */
/**
* these are svg versions of material-icon's
* https://material.io/icons/
*/
/* keyboard arrow right */
.mt-material-icon, .branch-open, .mt-gadjet-plus, .branch-close, .mt-gadjet-minus, .check-box-checked, .mt-node-checked,
.mt-node-checked .mt-checkbox, .check-box-unchecked, .mt-node-unchecked,
.mt-node-unchecked .mt-checkbox, .check-box-indeterminate, .mt-node-partially,
.mt-node-partially .mt-checkbox {
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
}

.branch-open, .mt-gadjet-plus {
  content: url("data:image/svg+xml;charset=utf8,%3Csvg fill='rgb(158, 158, 158)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z'/%3E%3Cpath d='M0-.25h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

/* keyboard arrow down */
.branch-close, .mt-gadjet-minus {
  content: url("data:image/svg+xml;charset=utf8,%3Csvg fill='rgb(158, 158, 158)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E %3Cpath d='M0-.75h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

/* check box */
.check-box-checked, .mt-node-checked,
.mt-node-checked .mt-checkbox {
  content: url("data:image/svg+xml;charset=utf8,%3Csvg fill='rgb(76, 175, 80)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z' /%3E%3C/svg%3E");
}

/* check box outline */
.check-box-unchecked, .mt-node-unchecked,
.mt-node-unchecked .mt-checkbox {
  content: url("data:image/svg+xml;charset=utf8,%3Csvg fill='rgb(158, 158, 158)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z'/%3E %3Cpath d='M0 0h24v24H0z' fill='none'/%3E %3C/svg%3E");
}

/* indeterminate check box */
.check-box-indeterminate, .mt-node-partially,
.mt-node-partially .mt-checkbox {
  content: url("data:image/svg+xml;charset=utf8,%3Csvg fill='rgb(196, 225, 172)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M0 0h24v24H0z' id='a'/%3E%3C/defs%3E%3CclipPath id='b'%3E%3Cuse overflow='visible' xlink:href='%23a'/%3E%3C/clipPath%3E%3Cpath clip-path='url(%23b)' d='M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-2 10H7v-2h10v2z'/%3E%3C/svg%3E");
}

/* or */
/* @import 'gif-icons'; */
/**
================SELECTION=================
*/
.mt-node-wrapper.mt-node-selected {
  outline: 3px dashed rgba(255, 0, 0, 0.5);
  outline-offset: .05em;
}

.mt-node-wrapper.mt-node-selected label {
  font-style: italic;
}

.mt-node-wrapper.mt-node-selected label:hover {
  color: rgba(255, 0, 0, 0.7);
}

.mt-node-wrapper .mt-highlighter {
  height: 18px;
  overflow: hidden;
  width: 100%;
  background: #b64553;
  position: absolute;
}

/**
================CHECKBOX=================
*/
.mt-checkbox {
  display: inline-block;
  width: 1.5em;
  margin-right: .5em;
}

/**
===============RENAME=================
*/
.mt-rename {
  display: inline;
  cursor: default;
  overflow: hidden;
  font-family: sans-serif;
  padding: 1px 0;
  border: solid 1px black;
}

/**
===============D'n'D=================
*/
.mt-pointer {
  height: 1px;
  overflow: hidden;
  position: absolute;
  background-image: url("../images/1.gif");
  background-repeat: repeat-x;
  background-color: #292fef;
}

.mt-ghost {
  background-color: #fff;
  border: solid 2px #e8e8f7;
  padding: .1em .3em;
  position: absolute;
}

.mt-ghost .mt-node-wrapper {
  background: none;
}

.mt-ghost span.mt-text {
  padding-top: 1px;
  padding-bottom: 1px;
}

.mt-ghost-icon {
  padding-left: 16px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-image: url("../images/dropzone.gif");
  margin-right: .5em;
}

.mt-ghost-after {
  background-position: -64px 2px;
}

.mt-ghost-before {
  background-position: -48px 2px;
}

.mt-ghost-between {
  background-position: -16px 2px;
}

.mt-ghost-inside {
  background-position: -0px 2px;
}

.mt-ghost-notAllowed {
  background-position: -32px 2px;
}

.mt-drag-current {
  background-color: #cfcfd8;
}

.mt-replace {
  background-color: #99c8fb;
}

/* Bootstrap Flavoured Overrides */
.BSF .mt-node label.mt-name,
[data-flavour="BS"] .mt-node label.mt-name {
  line-height: 1.5em;
  font-weight: normal;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.BSF .mt-gadjet,
.BSF .mt-checkbox,
[data-flavour="BS"] .mt-gadjet,
[data-flavour="BS"] .mt-checkbox {
  width: 1.5em;
}

.BSF .mt-gadjet,
[data-flavour="BS"] .mt-gadjet {
  font-size: 1.8rem;
}

/* Horizontal Collapse */
.mt-wrapper.collapse {
  display: block;
}

.mt-wrapper.collapse .mt-node span.mt-node-nochecked,
.mt-wrapper.collapse .mt-node span.mt-gadjet-none {
  display: none;
}

.mt-wrapper.collapse .mt-node span.mt-node-nochecked + label,
.mt-wrapper.collapse .mt-node span.mt-gadjet-none + label {
  padding-left: .5em;
}
 


  /*# sourceMappingURL=mifterialize.css.map */